# Python
backend/.venv/
backend/__pycache__/
backend/**/*.pyc

# Environment variables
backend/.env
frontend/.env

# Node
frontend/node_modules/

# Vite
frontend/dist/

# Python cache
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db